.Card1 {

    border-top: 4px solid hsl(180, 62%, 55%);
    grid-column: 1/2;
    grid-row: 2/4;
}

.Card2 {
    border-top: 4px solid hsl(0, 78%, 62%);
    grid-column: 2/3;
    grid-row: 1/3;
}

.Card3 {
    border-top: 4px solid hsl(212, 86%, 64%);
    grid-column: 2/3;
    grid-row: 3/5;
}

.Card4 {
    border-top: 4px solid hsl(34, 97%, 64%);
    grid-column: 3/4;
    grid-row: 2/4;
}

@media only screen and (max-width: 700px) {

    .Card1,
    .Card2,
    .Card3,
    .Card4 {
        width: 100px;
        height: 100px;
    }
}