#Cards {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 30px;


}

#Card {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #23155B0D, 2px 2px 10px #23155B0D;
    margin-bottom: 15px;
    position: relative;
    width: 200px;
    height: 200px;


}

#CardHeader {
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    font-size: 25px;
    letter-spacing: .5px;
    margin: 0;
}

#CardDesc {
    font-weight: 400;
    font-size: 12px;
    color: hsl(229, 6%, 66%);
    line-height: 20px;
    margin-bottom: 35px;
    max-width: 240px;
}

#Card img {
    position: absolute;
    right: 20px;
    bottom: 20px;

}

@media only screen and (max-width: 700px) {
    #Cards {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}